################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Transaction Anomaly Detection/FileContentIndex/3ab0243f-8806-4de1-8854-3959f813faea.vsidx
